[#ftl]
[#include "/security/lang.ftl" /]
<div class="row">
	<div class="col-md-3 offset-md-3"></div>
	<div class="col-md-6" >
		<div class="heading">
			<h2 align="middle">${VERIFY_EMAIL}</h2>
		<div class="well well-lg">
			[#if emailSent?? && !emailSent ]
				<div class="alert alert-danger" role="alert">${EMAIL_NOT_SENT}</div>
			[/#if]

			[#--
			 # Send E-mail
			 #--]
			[#if emailSent?? && emailSent]<h4>${EMAIL_SENT}</h4>[/#if]

			<h2><a class="form-control btn btn-primary full-width" href="/home/">${BACK_TO_LOGIN}</a></h2>
			</div>
		</div>
		<footer class="footer" >[#include "/security/legal.html" /]</footer>
	</div>
</div>
    
