[#ftl]
<div class="col-md-12">
    <h5 class="text-center">${msg('register.form.HEAD')} <strong>${registration.firstName} ${registration.lastName}</strong>.</h5>
</div>
<div class="row" data-ng-controller="RegisterController as registerCtrl">
    <div class="col-md-3">
        <h2>${msg('register.form.WELCOME_USER', [brandName])}</h2>
    </div>
    <div class="col-md-6" >
        <form class="form-horizontal" role="form" action="/register" method="POST">
            <div class="panel panel-default">
                <div class="panel-body" data-ng-init="isAdmin=false; domain=true">
                    [#include "/security/form-head.html" /]
                    <input type="hidden" name="admin" value="false">
                    <input type="hidden" name="id" value="${registration.id!''}">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">${msg('register.form.ORG')}</label>
                        <div class="col-sm-9">
                            <input type="text" required name="entityAlias" data-ng-model="entityAlias" placeholder="${msg('register.form.DOMAIN')}" class="form-control" >
                        </div>
                    </div>
                    [#include "/security/register-data-personal.html" /]
                    [#include "/security/register-accept.html" /]
                </div>
                <div class="panel-footer text-center">
                    <button type="submit" class="btn btn-primary" data-ng-disabled="cannotChangePassword || (!domain && !cnpjOk)">${msg('register.form.CREATE_USER')}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body small">
                ${msg('register.form.DISCLAIMER_USER')}<br/>
                <a href="/register/admin">${msg('register.form.TRY_ADMIN')}</a>
            </div>
        </div>
    </div>
</div>