[#ftl]
[#--
 # Lead is ADMIN
 #--]
<form class="form-horizontal" role="form" action="/register" method="POST">
    <div class="panel panel-default">
        <div class="panel-body" data-ng-init="isAdmin=false; domain=true; noDomain=false; entityAliasPrefix='iservport.com'">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            <input type="hidden" ng-model="isAdmin" name="admin" value="true">
            [#--
             # Domain or numberCode?
             #--]
            <div class="form-group">
                <label class="col-sm-3 control-label">Domínio*</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-md-12" data-ng-if="!noDomain">
                            <input type="text" required name="entityAlias" data-ng-model="entityAlias"  class="form-control">
                        </div>
                        <div class="col-md-6" data-ng-if="noDomain">
                            <input type="text" disabled name="entityAliasPrefix" data-ng-model="entityAliasPrefix" class="form-control">
                        </div>
                        <div class="col-md-1 size-h3 text-center" data-ng-if="noDomain">/</div>
                        <div class="col-md-5" data-ng-if="noDomain">
                            <input type="text" required name="entityAlias" data-ng-model="entityAlias"  class="form-control">
                        </div>
                    </div>
                    <div class="row help-block" data-ng-init="noDomain=false">
                        <div class="col-xs-1">
                            <input type="checkbox" ng-model="noDomain" ng-true-value="true" value="{{noDomain}}"
                                   ng-false-value="false">
                        </div>
                        <div class="col-xs-10">
                            <small>Meu negócio não possui domínio registrado.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">CNPJ*</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" name="entityAlias" required data-ng-keyup="valideCNPJ(entityAlias)"
                               data-ng-blur="valideCNPJ(entityAlias)"
                               value="{{entityAlias}}"
                               class="form-control" data-ui-mask="99.999.999/9999-99" data-ng-model="entityAlias">
                             <span class="input-group-btn">
                                <button aria-label="Help" class="btn btn-default" type="button">
                                    <i class="fa fa-check" style="color:green;" data-ng-show="cnpjOk"></i>
                                    <i class="fa fa-close" style="color:red;" data-ng-show="!cnpjOk  || entityAlias.length==0"></i>
                                </button>
                             </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            [#--
             # State and city
             #--]
            <div class="form-group">
                <label class="col-sm-3 control-label">Estado*</label>
                <div class="col-sm-9">
                    <select id="stateId" class="form-control" name="stateId"  data-ng-model="stateId" data-ng-change="getCities(stateId)"
                            data-ng-options="state.id as state.stateName +' / ' +  state.stateCode for state in states track by state.id"
                            required="required">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Cidade*</label>
                <div class="col-sm-9">
                    <select id="cityId" class="form-control" name="cityId"  data-ng-model="entity.cityId"
                            data-ng-options="city.id as city.cityName for city in cities track by city.id"
                            required="required">
                    </select>
                </div>
            </div>
            [#--
             # Password confirmation
             #--]
            <div class="form-group">
                <label class="col-sm-3 control-label">Identificação</label>
                <div class="col-sm-9">
                    <input type="text" disabled="disabled" class="form-control" value="${form.principal}">
                    <input type="hidden" name="email" value="${form.principal}">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">{{'PASSWORD' | common}}*</label>
                <div class="col-sm-9">
                    <input id="password" type="password" required="" name="password" class="form-control" data-ng-model="password">
                </div>
            </div>
            <div class="form-group">
                <label for="cpassword" class="col-sm-3 control-label">{{'PASSWORD_CONFIRMATION' | common}}*</label>
                <div class="col-sm-9">
                    <input id="cpassword" type="password" required="" name="cpassword" class="form-control" data-ng-model="cpassword">
                </div>
            </div>
            [#--
             # Aceita termos de uso?
             #--]
            <div class="row">
                <div class="col-md-8">
                    <p><input type="checkbox" name="licenseAccepted" data-ng-model="checked"> {{'_ACCEPTED_TERMS_OF_USE'|common}}</p>
                </div>
                <div class="col-md-4">
                    <a target="_new" class="pull-right" data-ng-href="/information/license/" href="/information/license/">{{'_SEE_TERMS_OF_USE'|common}}</a>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" class="btn btn-primary" data-ng-disabled="cannotChangePassword || (!domain && !cnpjOk)">Criar entidade e prosseguir como administrador.</button>
        </div>
    </div>
</form>