[#ftl]
<div class="col-md-12">
    <h3 class="text-center">${msg("signup.FREE_TITLE")}</h3>
    <h5 class="text-center">${msg("signup.SIGNUP_FREE")}</h5>
    <h5 class="small text-center">${msg("signup.FREE_DETAIL")}</h5>
</div>
<div class="row" data-ng-controller="SignupController as signupCtrl">
    <div class="col-md-3">
        <h2>${msg('signup.form.WELCOME', [brandName])}</h2>
    </div>
    <div class="col-md-6" data-ng-controller="ValidatorController as validatorCtrl">
        <form class="form-horizontal" role="form" method="POST" action="/signup">
            <div class="panel panel-default">
                <div class="panel-body">
                    [#include "/security/form-head.html" /]

                    <input type="hidden" name="contextName" value="${registration.contextName!''}">
                    [#if registration?? && registration.providerUserId??]<input type="hidden" name="providerUserId" value="${registration.providerUserId}" />[/#if]
                    [#if registration?? && registration.imgUrl??] <input type="hidden" name="imgUrl" value="${registration.imgUrl}" />[/#if]

                    [#include "/security/form-principal.html" /]

                    <div data-ng-show="principalExisting">
                        <div class="alert alert-danger alert-dismissible" role="alert" data-ng-show="showAlerts" >
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div>
                                <strong>x</strong> ${msg("signup.EMAIL_ALREADY_REGISTERED")}
                            </div>
                        </div>
                    </div>

                    [#if enableCellPhone?? ]
                    <div class="form-group" >
                        <label class="col-sm-3 control-label">${msg('signup.CELLPHONE')}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="cellPhone"  value="${registration.cellPhone}" required="" />
                        </div>
                    </div>
                    [/#if]
                    <div class="form-group" >
                        <label class="col-sm-3 control-label">${msg('signup.NAME')}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="firstName"  value="${registration.firstName}" required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">${msg('signup.LAST_NAME')}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="lastName" value="${registration.lastName}" required="" />
                        </div>
                    </div>
                    [#if enableAdmin?? ]
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="checkbox" data-ng-init="adminValue=${registration.admin?c}" >
                                <label>
                                    <input type="checkbox" name="admin" id="admin" data-ng-model="adminValue" value="{{adminValue}}">
                                    <span>${msg('signup.IS_ADMIN')}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="adminValue">
                        <label class="col-sm-3 control-label">${msg('signup.form.YOUR_COMPANY')}</label>
                        <div class="col-sm-9">
                            <input type="text" name="entityAlias" id="entityAlias" value="${registration.entityAlias!''}"
                                   placeholder="${msg('signup.DOMAIN_NAME')}" class="form-control">
                        </div>
                    </div>
                    [/#if]
                </div>
                <div class="panel-footer text-center">
                    <button type="submit" class="btn btn-primary" data-ng-disabled="!validPin"> ${msg('access.form.CONTINUE')} </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body small">
                ${msg('signup.form.NOTICE')}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body small">
                ${msg("signup.ALREADY_HAVE_ACCOUNT")} <a class="pull-right" href="/login">${msg("signup.BACK_TO_LOGIN")}</a>
            </div>
        </div>
    </div>
</div>
